<div class="my-orders-main">
	<div class="my-orders-main-inner">
		<div class="my-orders-heading text-center">
			<h2>My Orders	</h2>
			<img src="data:image/jpeg;base64,{{imgUrl}}">
			
				
			</div>
			<p>dfd {{imgUrl}} </p>
		</div>
		<ul class="list-unstyled my-order-list-main">
			<li ng-repeat="orders in orderData">
				<div class="row my-order-list-inner">
					<div class="col-sm-3">
						<p><b>OrderId: {{orders._id}}</b></p>
						<div class="prescription-txt text-center">
							<div
							ng-if="!orders.prescriptionImages.length > 0 && !orders.prescriptionText == ''" 
								class="order-text">
							  <p>{{orders.prescriptionText}}</p>
							</div>
							<div
							ng-if="orders.prescriptionImages.length > 0 " >
								<div class="order-img" 
								style="background-image: url(data:image/jpeg;base64,{{orders.prescriptionImages[0].base64Image}});">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5 text-center">
						<div class="order-details ">
							<p>Date: {{orders.OrderDate}}</p>
							<p>Time: {{orders.orderTime}}</p>
						</div>
						<div class="status-indictors-main">
							<div class="status-indictors-inner">
								<div class="status-indictors-hr"></div>
								<div class="order-placed pos-abslout">
									<span class="status-text">Placed</span>
									<span class="status-active"></span>
								</div>
								<div class="order-accepted pos-abslout">
									<span class="status-text">
										{{ 
											!orders.isCanceled && orders.isAccepted && 'Accepted' ||  orders.isCanceled && 'Canceled' || !orders.isAccepted && 'pending'
										}}
									</span>
									<span 
									class="{{
									orders.isAccepted && ' status-active ' || orders.isCanceled && ' status-cancel ' || !orders.isDispached && ' no-status '
										}}"></span>
								</div>
								<div class="order-dispached pos-abslout">
									<span class="status-text">Placed</span>
									<span class="{{!orders.isDispached && ' no-status '}}"></span>
								</div>
								<div class="order-delevered pos-abslout">
									<span class="status-text">Placed</span>
									<span class="status-active"></span>
								</div>
							</div>
						</div>
						<div class="order-progress ">
							<p>Accepted:
								<span class="color-gereen">
									{{orders.isAccepted ? 'Yes' : 'pending'}}
								</span>
							</p>
							<p>Dispached:
								<span class="color-gereen">
									{{orders.isDispached ? 'Yes' : 'Pending'}}
								</span>
							</p>
							<p>Delevered:
								<span class="color-gereen">
									{{orders.isDelevered ? 'Yes' : 'Pending'}}
								</span>
							</p>
							<p ng-class="orders.isCanceled ? 'color-red' : ''">Canceled By:
								<span class="color-gereen">
									{{orders.isCanceled ? orders.user + ' on ' + orders.canceledDate : 'not canceled'}}
								</span>
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="user-actions text-center"
							ng-if="orders.isDispached !== true && orders.isCanceled !== true">
							<div class="edit-order">
								<button type="button" class="btn btn-info">Edit{{$index}}</button>
							</div>
							<div class="cancel-order">
								<button type="button"
								class="btn btn-warning"
								ng-click="onCancelOrderClick(orders._id)">
									Cancel {{orders._id}}
								</button>
							</div>
						</div>
						<div class="reorder text-center" ng-if="orders.isCanceled">
							<button type="button" class="btn btn-success">Re-Order</button>
						</div>
						<div class="user-actions text-center" ng-if="orders.isDispached">
							<div class="edit-order">
								<button type="button" class="btn btn-success">Feedback</button>
							</div>
							<div class="cancel-order">
								<button type="button" class="btn btn-warning">Return</button>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>