<div class="my-orders-main">
	<div class="my-orders-main-inner">
		<div class="my-orders-heading text-center">
			<h2>
				My Orders
				<span class="pull-right color-link">
				<a href="logout" class="nav-link" onClick="localStorage.removeItem('userEmail');">Logout</a>
			</span>
			</h2>
		</div>
		<ul class="list-unstyled my-order-list-main">
			<li ng-repeat="orders in orderData.myOrders.orderData">
				<div class="row my-order-list-inner">
					<div class="col-sm-3">
						<div class="ordered-img text-center">
							<div ng-if="!orders.prescriptionImg || !orders.prescriptionImg == ''" class="order-text">
							  <p>{{orders.prescriptionText}}</p>
							</div>
							<div ng-if="orders.prescriptionImg && !orders.prescriptionImg == ''" >
							  <img src="{{orders.prescriptionImg}}">
							</div>
						</div>
					</div>
					<div class="col-sm-5 text-center">
						<div class="order-details ">
							<p>Date: {{orders.orderDate}}</p>
							<p>Time: {{orders.orderTime}}</p>
						</div>
						<div class="order-progress ">
							<p>Accepted:
								<span class="color-gereen">
									{{orders.orderStatus.isAccepted ? 'Yes' : 'pending'}}
								</span>
							</p>
							<p>Dispached:
								<span class="color-gereen">
									{{orders.orderStatus.isDispached ? 'Yes' : 'Pending'}}
								</span>
							</p>
							<p>Delevered:
								<span class="color-gereen">
									{{orders.orderStatus.isDelevered ? 'Yes' : 'Pending'}}
								</span>
							</p>
							<p>Cancel:
								<span class="color-gereen">
									{{orders.orderStatus.isCancel ? 'Yes' : 'No'}}
								</span>
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="user-actions text-center" ng-if="!orders.orderStatus.isDispached">
							<div class="edit-order">
								<button type="button" class="btn btn-info">Edit</button>
							</div>
							<div class="cancel-order">
								<button type="button" class="btn btn-warning">Cancel</button>
							</div>
						</div>
						<div class="user-actions text-center" ng-if="orders.orderStatus.isDispached">
							<div class="edit-order">
								<button type="button" class="btn btn-success">Feedback</button>
							</div>
							<div class="cancel-order">
								<button type="button" class="btn btn-warning">Return</button>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>