@import 'todos.scss';
@import 'login.scss';
@import 'myOrders.scss';
.super-parent{

}
.nav-link{
	float:right;
	margin:20px;
	color:red;
	font-size: 20px;
}
.display-block{
	display: block;
}
.margin-zero-auto{
	margin: 0 auto;
}
.color-gereen{
	color: green;
}
.color-link{
	color: red;
}
.color-red{
	color: red;
}