@import 'todos.scss';
@import 'login.scss';
@import 'myOrders.scss';
@import 'header.scss';
.super-parent{
	margin-top: 100px;
}
.display-block{
	display: block;
}
.margin-zero-auto{
	margin: 0 auto;
}
.color-gereen{
	color: green;
}
.color-link{
	color: red;
}
.color-red{
	color: red;
}
.pos-abslout{
	position: absolute;
}