.my-orders-main{
	    
  .my-order-list-main{
  	li{
  		margin: 10px;
  	}
  }

	.my-order-list-inner{
			border: thin solid #cccccc;
			border-radius: 5px;
			padding: 10px;
		.ordered-img{
			.order-text{
				border: thin solid #cccccc;
				border-radius: 5px;
				width: 200px;
				height: 200px;
				line-height: 100%;
				max-width: 100%;
				max-height: 100%;
				text-align: center;
				vertical-align: middle;
				display: table-cell;
				p{word-break: break-all;}

			}
			img{
				max-width: 200px;
				max-height: 200px;
			}
		}
		.user-actions{
			.btn{
				width: 100px;
				margin: 10px;
			}
		}
	}
	
}